<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>on.dashboard</title>
<script type="text/javascript" src="scripts/hbmon.js"></script>
<link rel="stylesheet" type="text/css" href="css/styles.css" />
<style>
.link {<<<theme_color>>>}
.button { <<<theme_color>>> }
.dropbtn { <<<theme_color>>> }
</style>
<meta name="description" content="on.dashboard.dmr.guru" />
</head>
<body style="background-color: #d0d0d0;font: 10pt arial, sans-serif;">
<center>
<div style="width: 1100px;">
<p style="text-align:center;"><span style="color:#000;font-size: 18px; font-weight:bold;"><<<system_name>>></span></p>
<p style="text-align:center;"></p>
</div>
<div style="width: 1100px;">
<noscript>You must enable JavaScript</noscript>
        <p id="masters"></p>
</div>
<p style="text-align: center;"><span style="text-align: center;">
        Gently refactored by <a href="https://on3ure.be">ON3URE</a> for the <a href="https://dmr.guru">dmr.guru</a> project. Original code by <a href=https://github.com/sp2ong/HBMonv2>SP2ONG</a></span>
</p>
</center>
</body>
</html>
